@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Code analyser is a JavaScript static analysis tool that gathers its recommendation patterns from open source projects.</p>

<h2>Contacts</h2>

<address>
    Jaanus Jaggo<br />
    University of Tartu<br />
    <strong>E-mail:</strong>   <a href="mailto:jaanus200@gmail.com">jaanus200@gmail.com</a>
</address>